body {
    background-color:#DE84FB;
    font-family: 'Segoe UI';
}
.initial-page-section {
    background-color: rgb(224, 107, 242) ;
    color: white;
    border-radius: 14px;
    margin: 41px 226px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;    
}
#imageLogo {
    background-color: rgb(224, 107, 242);
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.game-start-button {
    background: rgb(228, 38, 168);
    color: white;
    border-style: outset;
    border-color: violet;
    box-shadow: rgb(157 33 92) 0px 5px;
    border-radius: 10px;
    padding: 10px 37px;
    font-size: 22px;
    font-weight: bold;
    align-self: center;
    margin-bottom: 25px;
}
.game-start-button:hover {
    background-color: rgb(179, 37, 179);
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}  
.game-section {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}  
.game-div{
    width:1000px;
    height:300px;
    margin: 41px 226px;
    background: rgb(224, 107, 242);
    border: #DE84FB;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 10px 30px 10px;
}   
.imagePlay {
    width: 240px;
    height: 240px;
}
#buttons-div {
    background: #03C2DE;
    border-radius: 12px;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 20px;
    /* padding: 40px 10px 40px 10px; */
}
.play-hint {
    height: 60px;
    width: 150px;
    /* padding: 10px 20px 10px 20px; */
    background: rgb(228, 38, 168);
    color: white;
    border-style: outset;
    border-color: violet;
    box-shadow: rgb(157 33 92) 0px 5px;
    border-radius: 12px;
    /* padding: 10px 37px; */
    padding-inline: 10px;
    font-size: 22px;
    font-weight: bold;
    align-self: center;
    margin: 5px;
}
.play-hint:hover {
    background-color: rgb(179, 37, 179);
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}    
#hint3-div {
    background: #03C2DE;
    border-radius: 12px;
}
#input{
    width:1000px;
    height:100px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}
#continue-div {
    width:1000px;
    height:100px;
    background-color: orange;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
    
    /* height: 50vh;    */
}
.logo {
    height: 297px;
    /* width: 70vh;    */
}

h1 {
    color: white;
    font-size: 22px;
}
h2 {
    color: black;
    font-size: 27px;
    padding: 15px 40px 15px 40px;
}
p {
    color: black;
    font-size:22px; 
    font-weight: bold
}

/* .input-section {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    /* margin-top: 100px;
    margin-bottom: 100px;
    height:50vh; */
/* }    */ */
#userInputButton {
    border-radius: 12px;
    border-style: outset;
    border-color: rgb(77, 160, 223);
    background: rgb(62, 100, 227);
    color: white;
    font-size: 22px;
    font-weight: bold;
    height: 47px;
    width: 150px;
}
#userInput {
    height: 43px;
    width: 250px;
    border-radius: 12px;
}
.nextSong {
    border-radius: 12px;
    border-style: outset;
    border-color: rgb(77, 160, 223);
    background: #03C2DE;
    color: white;
    font-family: 'Segoe UI';
    font-size: 22px;
    font-weight: bold;
    height: 55px;
    width: 170px;
}
.next-song:hover {
    background-color: rgb(179, 37, 179);
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}    
#backTobegin a {
    color: white;
    text-decoration: none;
}
.backTobeginButton {
    border-radius: 12px;
    border-style: outset;
    background-color: orangered;
    border-color: orange;
    font-size: 19px;
    font-weight: bold;
    height: 55px;
    width: 170px;
}
.backTobeginButton:hover {
    background-color: orange;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.hidden {
    display: none;
}
.show {
    display: flex;
}